#
# The nginx-ingress annotations support the dashboard
# running using HTTPS with a self-signed certificate
#
---
apiVersion: cert-manager.io/v1alpha2
kind: Certificate
metadata:
  name: cephdashboard-kube-{{ project_name }}-tls
  namespace: rook-ceph
spec:
  secretName: cephdashboard-kube-{{ project_name }}-tls
  issuerRef:
    name: ca-{{ project_name }}-issuer
    kind: ClusterIssuer
  commonName: {{ rook_ceph_dashboard_url }}
  organization:
  - {{ project_name }} CA
  dnsNames:
  - {{ rook_ceph_dashboard_url }}
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: rook-ceph-mgr-dashboard
  namespace: rook-ceph
  annotations:
    kubernetes.io/ingress.class: "nginx"
    cert-manager.io/cluster-issuer: ca-{{ project_name }}-issuer
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    nginx.ingress.kubernetes.io/server-snippet: |
      proxy_ssl_verify off;
spec:
  tls:
   - hosts:
     - {{ rook_ceph_dashboard_url }}
     secretName: cephdashboard-kube-{{ project_name }}-tls
  rules:
  - host: {{ rook_ceph_dashboard_url }}
    http:
      paths:
      - path: /
        backend:
          serviceName: rook-ceph-mgr-dashboard
          servicePort: https-dashboard
