apiVersion: kibana.k8s.elastic.co/v1
kind: Kibana
metadata:
  name: {{ project_name }}-kibana
  namespace: elastic-system
spec:
  version: {{ eck_kibana_version | default('7.9.3') }}
  count: 1
  elasticsearchRef:
    name: {{ project_name }}-elasticsearch
  http:
    tls:
      selfSignedCertificate:
        disabled: true    
---
apiVersion: cert-manager.io/v1alpha2
kind: Certificate
metadata:
  name: kibana-{{ project_name }}-tls
  namespace: elastic-system
spec:
  secretName: kibana-{{ project_name }}-tls
  issuerRef:
    name: ca-{{ project_name }}-issuer
    kind: ClusterIssuer
  commonName: {{ eck_kibana_url }}
  organization:
  - Lacave CA
  dnsNames:
    - {{ eck_kibana_url }}
---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: kibana-{{ project_name }}-ingress
  namespace: elastic-system
  annotations:
    kubernetes.io/ingress.class: "nginx"
    cert-manager.io/cluster-issuer: ca-{{ project_name }}-issuer
spec:
  tls:
  - hosts:
    - {{ eck_kibana_url }}
    secretName: kibana-{{ project_name }}-tls
  rules:
    - host: {{ eck_kibana_url }}
      http:
        paths:
        - path: /
          backend:
            serviceName: {{ project_name }}-kibana-kb-http
            servicePort: 5601
