apiVersion: v1
kind: Secret
metadata:
  name: ca-lacave-tls
  namespace: cert-manager
data:
  tls.crt: {{ self_signed_root_ca_cert }}
  tls.key: {{ self_signed_root_ca_key }}
---
apiVersion: cert-manager.io/v1alpha2
kind: ClusterIssuer
metadata:
  name: ca-{{ project_name }}-issuer
spec:
  ca:
    secretName: ca-{{ project_name }}-tls
